name: Continuous Integration

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pipeline:
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    strategy:
      fail-fast: false
      matrix:
        service: [
          gateway,
          fetcher,
          data-processor,
          client-app
        ]
    uses: yonatankarp/github-actions/.github/workflows/ci.yml@v1
    with:
      app_name: ${{ matrix.service }}
      build_dockerfile: false # Temp disable build until dockerfile will be set

  dependabot_auto_merge:
    needs: pipeline
    uses: yonatankarp/github-actions/.github/workflows/dependabot-auto-merge.yml@v1
    secrets:
      GITHUB_PAT: ${{ secrets.PAT }}

  linters:
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    uses: yonatankarp/github-actions/.github/workflows/linters.yml@v1
